body {
  background-color: #ccc;
  margin: 0;
}

.cell {
  display: inline-block;
  width: 4.5px;
  height: 4.5px;
}

.row {
  height: 4.5px;
}

.inactive {
  background-color: #000;
}

.active {
  background-color: #060;
}